<div class="modal-header">
  <h5 class="modal-title" id="myModalLabel160">Créer un nouveau Truc</h5>
  <button type="button" class="close" (click)="dismiss()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" tabindex="0" ngbAutofocus>
  <div class="row">

    <div class="col-12 mb-2">
      <!-- Start Camera-->
      <webcam class="webcam-container mb-2"
              *ngIf="cameraOn"
              [trigger]="cameraTrigger"
              (imageCapture)="handleCapture($event)"
              (initError)="handleInitError($event)">
      </webcam>

      <div class="flex text-center">
        <button
          type="button"
          class="btn btn-lg"
          [class]="cameraOn ? 'btn-success mr-2' : 'btn-primary'"
          (click)="cameraOn ? triggerSnapshot() : toggleCamera()"
          rippleEffect>
          <span class="mr-25 feather-btn-lg" [data-feather]="'camera'"></span>
          {{ cameraOn ? 'Capture' : 'Camera' }}
        </button>
        <button *ngIf="cameraOn"
                type="button"
                class="btn btn-lg btn-icon btn-outline-danger"
                (click)="toggleCamera()"
                rippleEffect>
          <span [data-feather]="'camera-off'"></span>
        </button>
      </div>
      <!-- \ End Camera -->
    </div>

    <div *ngIf="snapshots.length > 0" class="col-12 mb-2">
      <!-- Start Swiper-->
      <div class="swiper-responsive-breakpoints swiper-container" [swiper]="illustrationsOptions">
        <div class="swiper-wrapper">
          <div class="swiper-slide rounded" *ngFor="let iSnapshot of snapshots; let index = index">
            <img class="img-fluid" [src]="iSnapshot.snapshot.imageAsDataUrl" [alt]="'snapshot-' + index">
            <div class="snapshot-controls">
              <a class="mr-50" [class]="iSnapshot.illustration.main ? 'text-warning' : 'text-muted'" (click)="asMain(iSnapshot)">
                <span class="ficon font-medium-5 icon-star feather"></span>
              </a>
              <a class="text-danger" (click)="remove(iSnapshot)">
                <span class="ficon font-medium-5 icon-trash feather"></span>
              </a>
            </div>
          </div>
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
      <!-- \ End Swiper-->
    </div>

    <div class="col-12">
      <form [formGroup]="StuffIllustrationForm">
        <h6 class="mb-2">1. Types</h6>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label>Ce qui caractérise le truc</label>
              <ng-select
                [items]="typesFound"
                [typeahead]="searchTypes"
                [addTag]="selectAddTypeMethod"
                [hideSelected]="true"
                multiple="true"
                bindLabel="name"
                formControlName="types"></ng-select>
            </div>
          </div>
          <div class="col-12">
            <h6 class="mb-2">2. Personal Info</h6>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="name">Nom</label>
              <input
                type="text"
                id="name"
                formControlName="name"
                class="form-control"
                [ngClass]="{ 'is-invalid': SIFormSubmitted && SIForm.name.errors }"/>
              <div *ngIf="SIFormSubmitted && SIForm.name.errors" class="invalid-feedback">
                <div *ngIf="SIForm.name.errors.required">Ce nom est requis !</div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="price">Prix <span class="text-muted">(Valeur à l'achat, à date)</span></label>
              <input
                type="number"
                id="price"
                formControlName="price"
                class="form-control"
                [ngClass]="{ 'is-invalid': SIFormSubmitted && SIForm.price.errors }"/>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="estimatedPrice">Prix estimé<span class="text-muted">(Si "Prix" inconnu)></span></label>
              <input
                type="number"
                id="estimatedPrice"
                formControlName="estimatedPrice"
                class="form-control"
                [ngClass]="{ 'is-invalid': SIFormSubmitted && SIForm.estimatedPrice.errors }"/>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="priceEstimatedAt">Prix Estimé à la date du</label>
              <ng2-flatpickr
                id="priceEstimatedAt"
                [config]="{
                  altInput: true,
                  enableTime: true
                }"
                formControlName="priceEstimatedAt"
                required
                [class.error]="SIFormSubmitted && SIForm.priceEstimatedAt.errors"></ng2-flatpickr>
              <div *ngIf="SIFormSubmitted && SIForm.priceEstimatedAt.errors"
                   class="invalid-feedback">
                <div *ngIf="SIForm.priceEstimatedAt.errors.required">La date de la dernière estimation est requise !</div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="obtainingMethod">Méthode d'obtention</label>
              <select
                id="obtainingMethod"
                formControlName="obtainingMethod"
                class="form-control"
                [ngClass]="{ 'is-invalid': SIFormSubmitted && SIForm.obtainingMethod.errors }"
              >
                <option selected value="bought">Acheté</option>
                <option value="gotFree">Obtenu gratuitement</option>
                <option value="donation">Offert / Donné</option>
                <option value="dontRemember">Je ne m'en souviens plus</option>
              </select>
              <div *ngIf="SIFormSubmitted && SIForm.obtainingMethod.errors"
                   class="invalid-feedback">
                <div *ngIf="SIForm.obtainingMethod.errors.required">Il faut indiquer par quel moyen l'objet à été obtenu !</div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="obtainedAt">Date d'obtention</label>
              <ng2-flatpickr
                id="obtainedAt"
                [config]="{
                  altInput: true,
                  enableTime: true
                }"
                formControlName="obtainedAt"
                required
                [class.error]="SIFormSubmitted && SIForm.obtainedAt.errors"></ng2-flatpickr>
              <div *ngIf="SIFormSubmitted && SIForm.obtainedAt.errors" class="invalid-feedback">
                <div *ngIf="SIForm.obtainedAt.errors.required">La date d'obtention est requise !</div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary"
          (click)="submit()">Sauvegarder</button>
</div>
