@import '@core/scss/base/pages/app-ecommerce.scss';
@import '@core/scss/angular/libs/swiper.component.scss';
@import '@core/scss/angular/libs/select.component.scss';

.webcam-container {
  display: flex;
  margin: auto;
  overflow: hidden;
  border: 2px solid $primary;
  border-radius: 0.5rem;
  aspect-ratio: 640 / 480;
  max-width: 640px;
  max-height: 480px;
}

.snapshot-controls {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.33rem 0.5rem;
}

.rounded {
  overflow: hidden;
}
